

.navbar{
    background-color: #555;
    width: 100%;
    height: 45px;
    overflow:hidden
}

.navbar a{
    text-align: center;
    padding: 40px;
    float: left;
    text-decoration: none;
    color: white;
    padding-top: 13px;
    float: left;
    
}

.active{
    background-color:#04AA6D ;
}
a:hover{
    background-color: #000;
}